* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #f0edd4;
}

.container {
  margin: 50px auto;
  max-width: 900px;
  border: solid 1px black;
  border-radius: 12px;
  background-color: #eccdb4;
}
.container .main {
  background-color: #fea1a1;
  border-bottom: 1px solid black;
  display: flex;
  border-radius: 12px 12px 0 0;
}
.container .main p {
  flex: 5;
  text-align: start;
  margin-left: 10px;
  padding: 5px;
}
.container .main span {
  flex: 4;
  text-align: end;
  padding: 20px;
}
.container .main .wrong {
  text-align: center;
}
.container .cards-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(4, 110px);
  gap: 5px;
  padding: 10px;
}
.container .cards-container .won {
  position: absolute;
}
.msg {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f443366b;
  color: white;
  z-index: 1;
}
.container .cards-container .won.msg p {
  text-align: center;
  margin: 150px auto;
  font-size: 25px;
}

.container .cards-container .card {
  background-color: transparent;
  border-radius: 12px;
  overflow: hidden;
}

.container .cards-container .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  border: 1px solid black;
  cursor: pointer;
}

.flip {
  transform: rotateY(180deg);
}
.img-1,
.img-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.container .cards-container .card img {
  width: 100%;
  height: 100%;
}
.img-2 {
  transform: rotateY(180deg);
}
